CheckerCorrector/bin
CheckerCorrector/src
CheckerCorrector/*.json
CheckerCorrector/*.jar
CheckerCorrector/test.*
CheckerCorrector/*.txt
CheckerCorrector/*db
!CheckerCorrector/manifest*
Crawler/target/classes/ScratchCrawler.class
Crawler/target/classes/crawledData.txt