CheckerCorrector/bin
CheckerCorrector/src
CheckerCorrector/*.json
CheckerCorrector/*.jar
CheckerCorrector/test.*
CheckerCorrector/*.txt
CheckerCorrector/*db
CheckerCorrector/corrector
CheckerCorrector/checker
Crawler/target/classes/ScratchCrawler.class
Crawler/target/classes/crawledData.txt
*.db
*.java
!CheckerCorrector/manifest*
!CheckerCorrector/**/*.java
